body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background-image: radial-gradient(
    circle,
    #ffffff,
    #edeff8,
    #d6e1f2,
    #bbd4ea,
    #9bc8e0
  );
  min-height: 100vh;

}

/* .social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
} */

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.bg-white {
  margin-top: 10px;
  width: 150px;
  height: 250px;
  background-image: radial-gradient(
    circle,
    #ffffff,
    #ebe6f9,
    #d8cdf2,
    #c7b4ea,
    #b89be0
  );
}

.contenido {
  margin-left: auto;
  margin-right: auto;
}
.div1 {
  display: flex;
}
.hidden {
  display: none;
}

.descriptions {
  display: inline;
  margin: 10px;
  margin-left: 25px;
}
.imginterna {
  margin-left: 25px;
}
.wrapper {
  margin-top: 75px;
}
.modal-content {
  background-image: radial-gradient(
    circle,
    #ffffff,
    #ebe6f9,
    #d8cdf2,
    #c7b4ea,
    #b89be0
  );
}


/* version 2 */

html {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.grid-fluid {
  position: relative;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
}

figcaption{
  font-size: 17px;
  
  font-family: sans-serif;
}

/* keys carousel */
 .carousel-control-prev{
  width: 4%;
  min-height: 100%;
  height: 100vh;
}
.carousel-control-prev-icon{
background-color: rgb(75, 70, 70);
margin-right: auto ;
width: 4rem;
height: 100%;
}

.carousel-control-next{
  width: 4%;
  min-height: 100%;
  height: 100vh;
}
.carousel-control-next-icon{
background-color: rgb(75, 70, 70);

margin-left: auto ;
width: 4rem;
height: 100%;
}