body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #f7dbd3, #6472b3);
  min-height: 100vh;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.bg-white {
  margin-top: 10px;
  width: 150px;
  height: 250px;
}

.contenido {
  margin-left: 10px;
}
.div1 {
  display: flex;
}
.hidden {
  display: none;
}

.descriptions {
  display: inline;
  margin: 10px;
}
.img-fluid {
  margin-left: 25px;
}
